@*
     ViewData["Title"] = "Mục đích tạo nên bãi đỗ xe thông minh";
*@
@{
}
<section class="who_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="img-box">
                    <img src="~/statics/Hun/images/hero-bg1.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="~/statics/Hun/images/oto.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                           Mục đích tạo nên bãi đỗ xe thông minh
                        </h2>
                    </div>
                    <p>
                        Bãi đỗ xe thông minh được thiết kế với mục tiêu chính là giải quyết những vấn đề nan giải mà các bãi đỗ xe truyền thống đang gặp phải, đồng thời mang đến trải nghiệm tốt hơn cho người dùng.
                    </p>
                    <div class="footer-text">
                       
                        <section class="values my-5">
                            <h2>
                                1. Tối ưu hóa Quản lý và Vận hành:
                            </h2>
                            <ul>
                                <li> Tự động hóa quy trình: Giảm thiểu sự can thiệp của con người, từ việc kiểm soát ra vào, thu phí đến quản lý không gian đỗ xe. </li>
                                <li> Nâng cao hiệu quả: Tận dụng tối đa không gian, giảm thiểu thời gian tìm kiếm chỗ đỗ và rút ngắn thời gian ra vào.</li>
                                <li>Thu thập dữ liệu: Cung cấp thông tin chi tiết về lượng xe, giờ cao điểm, tình hình sử dụng bãi đỗ để đưa ra các quyết định quản lý hiệu quả hơn.</li>
                            </ul>
                        </section>
                      
                        <section class="values my-5">
                            <h2>
                                2. Cải thiện Trải nghiệm Người Dùng:
                            </h2>
                            <ul>
                                <li> Tiện lợi: Quy trình ra vào nhanh chóng, đơn giản, không cần xếp hàng.</li>
                                <li> An toàn: Hệ thống giám sát chặt chẽ, bảo vệ phương tiện và tài sản của khách hàng.</li>
                                <li>Thông minh: Dẫn đường đến vị trí đỗ xe trống, hỗ trợ thanh toán không tiền mặt.</li>
                            </ul>
                        </section>

                        <section class="values my-5">
                            <h2>
                                3. Giảm Thiểu Tác Động Tiêu Cực:
                            </h2>
                            <ul>
                                <li> Giảm ùn tắc: Tối ưu hóa việc tìm kiếm chỗ đỗ, giảm thiểu tình trạng xe lưu thông vòng quanh tìm chỗ đỗ.</li>
                                <li> Bảo vệ môi trường: Giảm thiểu lượng khí thải từ xe ô tô do việc tìm kiếm chỗ đỗ kéo dài.</li>
                            </ul>
                        </section>
                 
                    <div>
                       
                </div>
            </div>
        </div>
    </div>
</section>
